<div style="padding-top:0px">
<a class="brand" href="/">
  <img src="/images/logo.png" width="100px"/>&nbsp;
  <font style="font-weight:bold">Open Data Framework
</a>
<ul class="nav" style="padding-top:10px">
  <li>
    <a href="/odf/GetAnimals/page">
      Example
    </a>
  </li>
  <li>
    <a href="/api">
      API Document
    </a>
  </li>
  <li>
    <a href="mailto://simonsu@mitac.com.tw">
      Contact
    </a>
  </li>
</ul>
</div>
<!--
<form class="navbar-form pull-right">
  <input name="textinput1" type="email" placeholder="Email" class="span2">
  <input name="textinput2" type="password" placeholder="Password" class="span2">
  <button class="btn">
    Sign in
  </button>
</form>
-->

<script>
  (function() {
    var cx = '002616967781504063184:smlq5bhp6ee';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<div style="width:400px;float:right;height:60px">
<gcse:search></gcse:search>
</div>